@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #cfcfcf;
  padding: 2rem;
}

.testimonials {
  max-width: 110rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
}

.testimonial {
  background-color: white;
  border-radius: 1rem;
  padding: 2.5rem 3.5rem;
}
.testimonial--daniel {
  grid-column: 1/3;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
  background-color: #7541c8;
  color: white;
}
.testimonial--jonathan {
  grid-column: 3/4;
  background-color: #48556a;
  color: white;
}
.testimonial--jeanette {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #19212e;
}
.testimonial--jeanette .status {
  color: rgba(25, 33, 46, 0.5);
}
.testimonial--jeanette .testimonial__text {
  color: rgba(25, 33, 46, 0.3);
}
.testimonial--patrick {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: #19212e;
  color: white;
}
.testimonial--kira {
  grid-column: 4/5;
  grid-row: 1/3;
  color: #19212e;
}
.testimonial--kira .status {
  color: rgba(25, 33, 46, 0.5);
}
.testimonial--kira .testimonial__text {
  color: rgba(25, 33, 46, 0.3);
}
.testimonial__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.testimonial__heading {
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.testimonial__text {
  color: rgba(255, 255, 255, 0.3);
}

.header-img-box {
  width: 2.8rem;
  height: 2.8rem;
}

.header-img {
  border-radius: 50%;
  width: 100%;
}

.status {
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1150px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 80rem;
    width: 100%;
  }

  .testimonial--daniel {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .testimonial--jonathan {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonial--jeanette {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .testimonial--patrick {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .testimonial--kira {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 650px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(40rem) 1fr 1fr fit-content(40rem) fit-content(40rem);
    max-width: 40rem;
    width: 100%;
  }

  .testimonial--daniel {
    grid-column: 1;
    grid-row: 1/2;
  }
  .testimonial--jonathan {
    grid-column: 1;
    grid-row: 2/3;
  }
  .testimonial--jeanette {
    grid-column: 1;
    grid-row: 3/4;
  }
  .testimonial--patrick {
    grid-column: 1;
    grid-row: 4/5;
  }
  .testimonial--kira {
    grid-column: 1;
    grid-row: 5/6;
  }
}

/*# sourceMappingURL=style.css.map */
